* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;

  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}


.wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;

input {
  padding: 10px;
}
button {
  padding: 10px;
}

}


